/* Css Rules to specify Fonts

font-family: 'Khand', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}

/* First Navbar  */
.navbar {
    overflow: hidden;
    /* background-color: #666666; */
    position: fixed;
    top: 0;
    width: 100%;
  }

.navbar-brand{
    padding-right: 10vw;
    padding-left: 25px;
}
@media(max-width:333px){
    .navbar-brand{
        padding-right: 0;
        padding-left: 10px; 
    }
    }
@media(max-width:333px){
.navbrand-img{
    height: 46px!important;
}
}

@media(max-width:333px){
    .nav-margin-small{
        margin-bottom: 5px;
    }
}

.me-auto {
    margin-right: auto!important;
    margin-left: auto;
    flex-wrap: wrap!important;
}
.nav-link {
    padding: 0 25px!important;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
}

@media (max-width:992px){
    .nav-link {
        padding: 8px 25px!important;
    }
}

/* Second Navbar */

.secondNav{
    background-color: #102c57;
    padding: 10px;
}
@media (max-width: 764px){
    .secondNav{
        padding: 5px;
    }
}

.nav-color {
    color: #fff!important;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    padding: 0 2.6vw!important;
}

@media(max-width:764px){
    .nav-color{
        padding: 1vw 2.6vw!important;
    }
    
}
@media(max-width:500px){
    .nav-color{
        font-size: 4vw;
    }
    
}
.dropdown-item{
    color: red;
    font-weight: 500;
}
.dropdown-item:hover{
    color: red;
}
.nested-link{
    text-decoration: none!important;
    color: black;
}
.nested-link:hover{
    color: blue;
}
.nav{
    position: relative;
    z-index: 100;
    margin-top: 76px;
}

.modal-header{
    background-color: #102c57;
    color: #fff;
   
}
.modal-body{
    background-color: #d8d9da;
    font-size: medium;
    text-align: justify;
    margin-top: -1px;
}
@media (max-width: 992px){
    .modal-body{
        font-size: large;
    }
}
.modalPeople{
    background-image: url(./images/website\ image\ 1_24.01.jpg);
    color: #fff;
}
@media (max-width: 500px){
    .modalPartnership{
        background-image: url(./images/website\ image\ 1_resize_max.jpg);
    }
}
.modalPartnership{
    background-image: url(./images/pexels-andrea-piacquadio-resize.jpg);
    color: #fff;
}
@media (max-width: 992px){
    .modalPartnership{
        background-image: url(./images/pexels-andrea-piacquadio-crop-resize.jpg);
    }
}
.modalPlanet{
    background-image: url(./images/pexels-marina-lite-resize.jpg);
    color: #fff;
}
@media (max-width: 1200px){
    .modalPlanet{
        background-image: url(./images/pexels-rdne-stock-project-resize.jpg);
    }
}
.modalProcess{
    background-image: url(./images/fashion-designer-mdl2-resize.jpg);
    color: #fff;
}
@media (max-width: 992px){
    .modalProcess{
        background-image: url(./images/fashion-designer-modal-resize.jpg);
    }
}
.modalPurpose{
    background-image: url(./images/creative-woman-modal-resize.jpg);
    color: #fff;
}
@media (max-width: 992px){
    .modalPurpose{
        background-image: url(./images/creative-woman-modal-crop-resize.jpg);
    }
}
.modalProfit{
    background-image: url(./images/pexels-tima-resize.jpg);
    color: #fff;
}
@media (max-width: 992px){
    .modalProfit{
        background-image: url(./images/pexels-tima-crop-resize.jpg);
    }
}
/* .modal-body{
    font-size: 20px;
    text-align: justify;
    position: absolute;
    top: 50px;
    color: #d8d9da;
} */
.modal-content{
    border-radius: 1rem;
}


/* home-background */

.home-heading {
    position: absolute;
    color:#fff;
    font-family: 'montserrat', sans-serif;
    font-size: 4.4vw;
    line-height: inherit;
    font-weight: 900;
    margin: 11%;
    margin-left: 15%;
    z-index: 10;
}

@media (max-width:500px){
    .home-heading{
        font-size: 10vw;
        line-height: inherit;
        margin-top: 18%;
        margin-left: 12%;
    }
}

@media(max-width: 600px)
    {
        .background-image1
        {
            content:url(images/woolen-blue-jeans-crop\ edited\ 24.01.24.jpg);
        }
        .background-image2
        {
            content:url(images/logotech\ Background\ crop\ edited\ 24.01.24.jpg);
        }

    }



/* About Us Section */

.about-us{
    background-color: #EEEEEE;   /* #d8d9da */
}
@media (min-width : 767px){
    .about-us{
        padding-bottom: 175px!important;
    }
    
}
.world-image{
    background-color: black;
}

@media (min-width: 767px){
    .world-image{
        height: 300px;
        width: 650px;
    }
}

.lead {
    font-size: 1.20rem;
    font-weight: 300;
    text-align: justify;
}

@media ( min-width: 360px) and (max-width:421px){
    .lead {
        font-size: 1rem;
    }
   
}

@media (max-width: 360px){
    .lead {
        font-size: 0.85rem;
    }
   
}

/* Why Us  */

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}
.why-us{
    font-weight: 700;
}

.wuPara{
    text-align: justify;
}

/* Career */

.cwu{
    color: #db1a0d;
    text-align: center;
}

.wwu{
    width: 44%;
    margin-right: 4.45vw;
}
@media(max-width: 500px){
    .wwu{
        width: 100%;
    }
   
}
#career{
    background-color:#EEEEEE;
}
.dev-image{
    width:50%;
    /* float: left; */
    margin-right: 30px;
}
@media (max-width: 576px){
    .dev-image{
        display:none;
    }
}
@media (min-width: 576px) and (max-width:768px){
    .dev-image{
        width: 100%;
        margin-top: 50px;
        margin-left: -30px;
    }
}
@media (min-width: 768px) and (max-width:992px){
    .dev-image{
        width: 70%;
        margin-top: 45px;
    }
}
@media (min-width: 992px) and (max-width:1200px){
    .dev-image{
        width: 50%;
        margin-top: 12px;
    }
}
@media (min-width: 1200px) and (max-width:1400px){
    .dev-image{
        width: 42%;
        margin-top: 12px;
    }
}
@media (min-width: 1400px){
    .dev-image{
        width: 29%;
        margin-top: 10px;
    }
}

/* Testimonials */

#testimonials {
    background-color: #435B66; /* #435B66, 9E9FA5 */
    color: #fff;
    text-align: center;
    /* padding: 10% 7%; */
  }
  
  .testimonial-text{
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
 }
  .testimony{
    padding: 7% 15%;
  }
  
  @media (max-width: 767px){
    .testimonial-text{
        font-size: 1rem;
    }
    .location{
        font-size: 0.7rem;
    }
  }
  @media (min-width: 767px) and (max-width: 1024px){
    .testimonial-text{
        font-size: 1.5rem;
    }
    .location{
        font-size: 1rem;
        line-height: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    .testimonial-text{
        font-size: 2rem;
    }
    .location{
        font-size: 1rem;
        line-height: 1.5rem;
    }
  }
  /* @media (min-width: 1440px){
    .testimonial-text{
        font-size: 3rem;
    }
  } */
  /* .testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
    padding: 10% 7%;
  } */

  /* Press */
  #press {
    background-color: #435B66;
    padding-bottom: 3%;
    text-align: center;
  }
  @media(min-width: 1400px){
  .press-logo {
    height: 80px;
    margin: 20px 80px 50px;
  }
}
  @media(min-width: 1024px) and (max-width:1400px){
    .press-logo {
      height: 70px;
      margin: 20px 50px 50px;
    }
}
  @media(min-width: 767px) and (max-width:1024px){
    .press-logo {
      height: 60px;
      margin: 20px 30px 50px;
    }
}
  @media(max-width: 767px){
    .press-logo {
      height: 30px;
      margin: 20px 9px 50px;
    }
}
  /* .carousel-item {
    padding: 7% 15%;
  } */
  

/* Footer */
#footer{
    background-color: #d8d9da;
}

  /* Logo-Footer */
#logo{
    background-color: #d8d9da;
}


/* Check */

.check{
    height: 1500px;
    background-color: aqua;
}

/* .row .col {
    height: 100px;
} */


/* .custom-popover {
    --bs-popover-max-width: 50rem;
    --bs-popover-header-bg: #d8d9da;
    --bs-popover-body-bg: #EEEEEE;
    --bs-popover-border-color: violet;
    --bs-popover-header-bg: black;
    --bs-popover-header-color: white;
    --bs-popover-header-padding-x: 0.5rem;
    --bs-popover-header-padding-y: 1rem;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
    --bs-popover-arrow-width: 0rem;
    margin-top: 100px!important;
    text-align: center;
} */
  
/* .modal-header{
    background-color: #102c57;
    color: #fff;
   
}
.modal-body{
    background-color: #d8d9da;
    font-size: large;
    text-align: justify;
}
.modal-content{
    border-radius: 1rem;
} */

@media (min-width: 768px){
.section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
}

.section {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #d8d9da;
}

.footerThin{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

footer {
    display: block;
}

.section .container {
    position: relative;
    z-index: 1;
}

@media (min-width: 1200px){

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
}
}

@media (min-width: 1200px){
.container {
    max-width: 1200px;
}
}

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.footer-brand-img{
    /* height: 1.75rem; */
    /* width: 5.14063rem; */
    margin-left:12px;
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}
@media (min-width: 768px){
.col-md {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}
}
.col-md{
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

}

@media (min-width: 768px){
.text-md-right {
    text-align: right!important;
}
}

.list-inline {
    padding-left: 0;
    list-style: none;
}


.small, small {
    font-size: 86.666%;
    font-weight: 400;
}
.term-text{
    /* color: rgba(255,255,255,.65)!important; */
    color: #000000A6;
}
.copyright-text{
    color:#000000A6;
}
.term-text:hover{
    text-decoration: underline;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.list-inline-item {
    display: inline-block;
}

@media(max-width:500px){
    .term{
        display:block;
        padding-top: 5px;

    }
}

a {
    color: #102C57; /* #102C57 */
    text-decoration: none;
    background-color: transparent;
}

.align-items-center {
    -webkit-box-align: center!important;
    align-items: center!important;
}

/* ::selection {
    background-color: #18122B;  
    color: #fff;
} */
.list-inline {
    padding-left: 0;
    list-style: none;
}

.bi {
    font-family: "Font Awesome 5 Brands";
}

/* .fa, .bi, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
} */

.bi:hover {
    color: #F99417; /* #e79b0d */
}

ul {
    margin-top: 0rem;
    margin-bottom: 1rem;
}
